<mat-drawer-container class="container-fluid">
  <mat-drawer mode="side" opened class="sidebar p-3" style="width: 10%;">
    <mat-selection-list #menuCategories>

      <mat-list-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-list-option>

    </mat-selection-list>

    <p>
      Options selected: {{menuCategories.selectedOptions.selected.length}}
    </p>
    <button (click)="showArray()">Array</button>
  </mat-drawer>
  <mat-drawer-content class="page-container pt-3">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-12">
          <div class="card-title d-flex justify-content-between">
            <mat-form-field class="example-form-field">
              <input matInput type="text" [(ngModel)]="value">
              <button matSuffix mat-icon-button aria-label="Clear" *ngIf="value" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <div>
              <button mat-stroked-button class="sort"><span>Sort by desc</span></button>
              <button mat-stroked-button class="sort"><span>Sort by asc</span></button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3" *ngFor="let product of products">
          <div class="card p-2 mb-2">
            <img [src]="product.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">{{ product.title }}</h2>
              <p class="card-text">{{product.description}}</p>
              <div class="d-flex justify-content-between pt-2">
                <span class="fw-bold">{{ product.price | currency }}</span>
                <button class="btn btn-primary" (click)="onAddToCart(product)">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
