<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <span class="h1 fw-bold mb-0">New User</span>
      <div class="d-flex justify-content-center">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <label class="col-4 form-label" for="registerName">Name</label>
          <input type="text" id="registerName" class="col-4 form-control" formControlName="registerName" #registerName
          [ngClass]="{ 'is-invalid' : form.get('registerName')?.touched && form.get('registerName')?.invalid }"
          />
          <label class="col-4 form-label" for="username">Username</label>
          <input type="text" id="username" class="col-4 form-control" formControlName="username" #username
          [ngClass]="{ 'is-invalid' : form.get('username')?.touched && form.get('username')?.invalid }"
          />
          <label class="col-6 form-label" for="email">Email</label>
          <input type="email" id="email" class="col-6 form-control" formControlName="email" #email
          [ngClass]="{ 'is-invalid' : form.get('email')?.touched && form.get('email')?.invalid }"
          />
          <label class="form-label" for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password" #password
          [ngClass]="{ 'is-invalid' : form.get('password')?.touched && form.get('password')?.invalid }"
          />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
          <input type="password" id="registerRepeatPassword" class="form-control" formControlName="registerRepeatPassword" #registerRepeatPassword
          [ngClass]="{ 'is-invalid' : form.get('registerRepeatPassword')?.touched && form.get('registerRepeatPassword')?.invalid }"
          />
          <button class="btn btn-info btn-lg mt-2" type="submit">Registration</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-block">
      <img src="../../../assets/login.jpg" style = "width: 100%">
    </div>
  </div>
</div>
